* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

#app {
    width: 100%;
    height: 100%;
}

.app-container {
    width: 100%;
    height: 100%;
}

.page-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    min-height: calc(100vh - 92px);
    margin-bottom: var(--root-padding-default);
    .page-search {
        background-color: #fff;
        border-radius: var(--root-radius);
        box-shadow: var(--root-shadow);
        box-sizing: border-box;
        padding: var(--root-padding-default);
        .page-search__button {
            flex-shrink: 0;
        }
        .page-search-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .page-content {
        flex: 1;
        background-color: #fff;
        border-radius: var(--root-radius);
        box-shadow: var(--root-shadow);
        box-sizing: border-box;
        margin-top: var(--root-padding-default);
        padding: var(--root-padding-default);
        .page-content-pagination {
            display: flex;
            justify-content: flex-end;
            margin-top: var(--root-padding-default);
        }
    }

    .page-title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-shrink: 0;
        width: 100%;
        font-size: var(--root-font-size-default);
        margin-bottom: var(--root-padding-default);
        &:before {
            content: "";
            display: inline-block;
            width: 4px;
            margin-right: 5px;
            height: var(--root-padding-default);
            background-color: var(--root-color);
            border-radius: 2px;
        }
    }
}